.wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: lightsalmon;
  padding: 10px;
  margin: 10px;
  border-radius: 1em;

  .image {
    padding: 10px;
    background-color: lightpink;
    border-radius: 4px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    img {
      height: 160px;
    }
  }

  .text {
    padding: 10px;
    flex: 1;
    .name {
      font-size: 2em;
      font-weight: bolder;
    }
  }
  .ratting {
    font-size: 4em;
    align-self: center;
  }
}
